@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body, header, h1, h2, div, footer {
    font-family: dancing script, Roboto;
    font-weight: 300;
    color: #323232;
}

.head-container {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}